.cart {
  min-height: calc(100vh - 74px);
  background-color: lightgrey;
  display: flex;
  justify-content: center;

  .container {
    width: 80%;
    height: fit-content;
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;

    .item-details {
      flex: 1;
      border-right: 1px solid black;

      .restaurant {
        display: flex;
        gap: 20px;

        .restaurant-img {
          width: 100px;
          height: 100px;
          border-radius: 10px;
          flex-shrink: 0;

          img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
          }
        }

        .restaurant-name-address {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .cart-items {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .billing-details {
      flex: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        margin-bottom: 20px;
      }

      div {
        display: flex;
        justify-content: space-between;
        color: grey;
      }

      .tax {
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      .to-pay {
        font-weight: 600;
        color: black;
      }

      .pay-now-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
          background-color: #60b246;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .cart {
    min-height: calc(100vh - 53px) !important;
    .container {
      flex-direction: column;
      font-size: 12px;

      .item-details {
        border-right: none !important;
      }

      .item-details {
        .restaurant {
          .restaurant-img {
            width: 50px !important;
            height: 50px !important;
          }
        }
      }
    }
  }
}

.empty-cart {
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img-container {
    width: 271px;
    height: 256px;
    background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/2xempty_cart_yfxml0");
    background-size: cover;
  }

  .text {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #535665;
  }

  .sub-heading {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    margin-top: 8px;
    color: #7e808c;
  }

  .see-btn {
    margin-top: 30px;
    padding: 11px 20px;
    text-transform: uppercase;
    background-color: #fc8019;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    text-align: center;

    &:hover {
      -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    }
  }
}
