.search {
  min-height: calc(100vh - 74px);
  margin-bottom: 40px;

  .search-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .container {
      border: 1px solid grey;
      width: 60vw;
      min-width: fit-content;
      display: flex;
      align-items: center;
      padding-right: 13px;
      border-radius: 5px;

      input {
        border: none;
        outline: none;
        flex: 1;
        padding: 10px;
        font-size: 1.1rem;
        border-radius: 5px;
      }
    }
  }

  .search-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}
